node_modules
npm-debug.log
.astro
.git
.gitignore
README.md
.env
.nyc_output
coverage
.vscode
.env.local
.env.production
.env.staging
dist
.DS_Store
*.log
logs
*.tgz
.pnpm-debug.log*
.pnpm-store/
.next
out
.cache
.parcel-cache
build
.next
.vercel
netlify.toml
fly.toml
render.yaml
Dockerfile*
docker-compose*
.dockerignore
kubernetes/
k8s/
helm/
charts/